body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.content-box {
    border-width: 1px;
}

fieldset.busca {
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-color: #AAAAAA;
    border-bottom-color: #AAAAAA;

    border-radius: 15px;
}
