<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"  %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %>


<%@ page contentType="text/html; charset=UTF-8" %>
<!DOCTYPE HTML>

<html lang="pt-BR">
	<head>
		<title>Página para testes</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Aplicação para uso em testes com Selenium" />
        <meta name="author" content="Eldius" />
        <link rel="shortcut icon" href="<c:url value="/static/img/favicon.ico"/>" type="image/x-icon" />

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="<c:url value="/static/css/bootstrap.min.css"/>">

        <!-- Optional theme -->
        <link rel="stylesheet" href="<c:url value="/static/css/bootstrap-theme.min.css"/>">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="<c:url value="/static/css/starter-template.css"/>">

        <!-- jQuery -->
        <script src="<c:url value="/static/js/jquery-1.11.0.min.js"/>"></script>
        
		<script src='<c:url value="/static/uploadify/jquery.uploadify.min.js" />' type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="<c:url value="/static/uploadify/uploadify.css" />">
		        

	</head>
	<body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="${linkTo[IndexController].index}">Application</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li <c:if test="${menu eq 'index'}" > class="active" </c:if>><a href="${linkTo[IndexController].index}">Home</a></li>
                <li <c:if test="${menu eq 'login'}" > class="active" </c:if>><a href="${linkTo[LoginController].index}">Login</a></li>
              </ul>
              <div class="pull-right" style="color: white;">
              	<h4>Logged user: ${userSession.user }</h4>
              </div>

            </div><!--/.nav-collapse -->
          </div>
        </div>

        <div class="container">

<!-- header.jspf -->
